/* Import from font.css file*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}
body{
    font-family:'Dosis';
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.4rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2{
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
    margin-bottom: 1em;
}
h3,h4,h5,h6{
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
}
p{
    margin: 10px 0;
}
text-center{
    text-align: center;
    margin-top: 40px;
}
.menu div{
    width: 25px;
    height: 3px;
    background-color: steelblue;
    margin: 5px;
}
.menu{
    display: none;
}
section{
    padding: 3rem 0;
}
img{
    max-width:100%;
}
.navbar{
    color: whitesmoke;
    height: 70px;
    background-color: slategrey;
    text-align: center;
    justify-content:space-around;
    min-height: 8vh;
}
.logo{
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.navbar ul{
    display: flex; 
}
.navbar a{
    display: flex;
    color: steelblue;
    padding: 10px;
    margin: 0 4px;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.navbar a:hover{
    border-bottom: 2px solid steelblue;
    transition:all 0.4s ease;
}
#navbarNav{
    justify-content: space-between;
}
.container{
    max-width: 1300px;
    width: min(90%, 75rem);
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.container--narrow{
    max-width: 30rem;
    justify-content: center;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.col-sm-4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;

.card{
    border-radius: 10px;
    box-shadow: 3px 10px rgba(0,100,230, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    margin-bottom: 5rem;
    width: 100%;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: white;
    color: steelblue;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    transform: scale(0.90);
}

.contactForm{
    position: relative;
    top: 60px;
    bottom: 60px;
    height:auto;
    width: fit-content;
    padding: 40px;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
.contactForm form-control{
    margin: 30px 0;
}
.contactForm input[type='text'],
.contactForm input[type='email']{
    border: 0;
    border-bottom: 1px solid steelblue;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.contactForm::before,
.contactForm::after{
    content: '';
    position:absolute;
}
.contactForm input{
    border: 0;
    border-bottom: 1px solid steelblue;
    padding: 3px;
    font-size: 16px;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width:60%
    }
}
@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: steelblue;


@media screen and (max-width:768px){
    body{
        display: none;
    }
        display: flex;
    }

}
/*Tablets and under*/
@media(max-width:768px){
    .grid,
    .contactForm .grid,
    flex-direction:row;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    flex-basis: 100%;
}
.split{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.contactForm{
    justify-self: center;
    margin:auto;
}
/* mobile*/
@media (max-width: 300px){
    .navbar{
        height:110px;
    }
.navbar .flex{
    flex-direction: column;
}
.navbar ul{
    padding: 10px;
    background-color: rgba(0,0,245,0.1);
}
@media (min-width:40em){
    .split{
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
}