/* Import from font.css file*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:'Dosis';
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.2rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2{
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
    margin-bottom: 1em;
}
h3{
    font-size: 0.7rem;
}
h4,h5{
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
}
p{
    margin: 10px 0;
    color: #000;
    text-align: center;
    font-weight:500;
}
p.paragraph2{
    color: white;
}
text-center{
    text-align: center;
    margin: 40px;
    font-weight: 400;
}

.menu div{
    width: 25px;
    height: 3px;
    background-color: steelblue;
    margin: 5px;
}
.menu{
    display: none;
    cursor: pointer;
}
section{
    padding: 3rem 0;
}
img{
    max-width:100%;
}
.navbar{
    color: whitesmoke;
    height: 70px;
    background-color: slategrey;
    text-align: center;
    justify-content:space-around;
    min-height: 8vh;
}
.navbar{
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.navbar ul{
    display: flex; 
}
.navbar a{
    display: flex;
    color: #04AA6D;
    position: relative;
    padding: 10px;
    margin: 0 4px;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.active {
    background-color: #30755c;
  }
.navbar a:hover{
    border-bottom: 2px solid #04AA6D;
    transition:all 0.4s ease;
}
#navbarNav{
    justify-content:flex-end;
    font-weight: bold;
}
.container{
    max-width: 1300px;
    width: min(90%, 75rem);
    margin: 10px auto;
    overflow: auto;
    padding: 0 40px;
}
.container--narrow{
    max-width: 20rem;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.whatWeDo-area .row {
    display: flex;
    flex-wrap: wrap;
}
.whatWeDo-area .col {
    flex: 33%;
    padding: 20px;
    cursor: pointer;
}
#show_hide, #show_hide1, #show_hide2 {
    display: none;
}
.portfolio-text{
    display:none
}
.col:hover{
    transform: translateY(-15px);
    transition:all 0.6s ease;
}
@media screen and (max-width: 768px) {
    .col-sm-4,col-lg-3 {
      width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: white;
    color: steelblue;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    transform: scale(0.90);
    transition:all 0.4s ease;
}
.portfolio-area .row {
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
    color: #000;
    border: none;
    border-radius: 5px;
}
.portfolio-area .col{
    flex: 25%;
    padding: 2px;
    cursor: pointer;
}
.col-lg-3:hover{
    transform: scaleY(0.90);
    transition:all 0.4s ease;
}
.container .col-lg-3 .middle{
transition:0.5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
cursor: pointer;
transform: translateY(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.portfolio:hover .middle {
opacity: 1;
}
.portfolio .text {
background-color: white;
color: slategrey;
font-size: 16px;
padding: 16px 32px;
}
.contactForm{
position: relative;
top: 60px;
bottom: 60px;
height:auto;
width: fit-content;
padding: 40px;
z-index: 100;
align-items: center;
justify-content: center;
}
.contactForm form-control{
    margin: 30px 0;
}
.contactForm input[type='text'],
.contactForm input[type='email']{
    border: 0;
    border-bottom: 1px solid steelblue;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.contactForm::before,
.contactForm::after{
    content: '';
    position:absolute;
}
.contactForm input{
    border: 0;
    border-bottom: 1px solid steelblue;
    padding: 3px;
    font-size: 16px;
}
.contactForm{
    justify-self: center;
    margin:auto;
}
@media screen and (max-width:1024px) {
    .nav-link{
        width:60%
    }
}
@media screen and (max-width:768px){
    .nav-link{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform(o.5s ease);
    }
    .nav-link li{
        opacity: 0;
    }
}
.nav-active{
    transform: translateX(0%);
}
/* mobile*/
@media (max-width: 300px){
    .navbar{
        height:110px;
    }
    .navbar .flex{
    flex-direction: column;
    }
    .navbar ul{
    padding: 10px;
    background-color: rgba(0,0,245,0.1);
    }
}
@keyframes nav-linksFade {
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform:translateX(0px);
    }
}

.toggle .line1{
    transform:rotate(-45deg translate(-5px,6px));
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg translate(-5px,-6px));
}
.menu{
    display: block;
}
@media screen and (max-width:500px){
    body{
        display: none;
        overflow-x:hidden;
    }
    .split{
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
}
